body {
    background-color: #c7a4ff;
}
#first-box {
    margin: 100px 250px;
    background-color: whitesmoke;
    height: 350px;
    width: 350px;
}
#login-box {
    text-align: center;
    height: 90px;
    color: antiquewhite;
    background-color: #a255ff;
    font-size: 2em;
    font-weight: bold;
}
input {
    display: block;
}
#second-box {
    left: 20px;
    top: 30px;
    position: relative;
}
.input-box {
    border: 1px solid #9e9e9e; 
    background-color: whitesmoke;
    height: 43px;
    width: 280px;
    margin: 15px;
    padding-left: 10px;
    border-radius: 3px;
    font-size: medium;
}
#email-box {
    background-image: url(https://super.so/icon/dark/mail.svg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 130%;
}
#password-box {
    background-image: url(https://super.so/icon/dark/lock.svg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 130%;

}
.output-box {
    height: 35px;
    width: 90px;
    display: inline;
    left: 20px;
    top: 30px;
    position: relative;
    border-radius: 3px;
}
input[type=submit] {
    font-size: medium;
    color: antiquewhite;
    background-color: #a255ff;
    border: 0;
}
input[type=button] {
    width: 150px;
    font-size: medium;
    color:   #a255ff;
    background-color: whitesmoke;
    border: 0;
}